.clearfix:after{
  clear: both;
  content: "";
  display: block;
}
ul li a {
background: rgba(255,255,255,0);
}

#title{
    background-color: white;
    width: 1200px;
    height: 850px;
}
#title h1 {
  position: absolute;
  font-size: 69px;
  top: 40%;
  text-align: center;
}

#title .footnote {
  position: absolute;
    font-size: 34px;
    top: 60%;
    right: 112px;

}
#big {
    width:1200px;
    height: 700px;
    margin: 0 auto;
    color: #666666;
}
#big h2 {
  text-align: center;
  font-size: 40px;
  color: #666666;
  margin-bottom:20px;
}
#big img {
float:right;
}
#big > div {
  float: left;
}
#big ul {
width: 700px;
}
#big ul li {
 border-bottom:2px solid #CCCCCC;
 list-style-type: none;
 line-height: 111px;
 font-size: 34px;
}
#tiny {
  width: 1200px;
  height: 700px;
  position: relative;
}
#tiny strong{
  display: inline-block;
    font-size: 74px;
    top:40%;
    left: 240px;
    position: absolute;
}
#its strong{
    font-size: 48px;
    display: block;
    padding-bottom: 30px;
}
#its img {
  width: 1250px;
  height: 650px;
}
.slide {
    width: 1200px;
}
.slide-data{
   color: #666666;
}
.slide-data h2 {
  text-align: center;
  font-size: 48px;
  padding: 50px;
 border-bottom:2px solid #CCCCCC;
}
.slide-data > div {
  width: 1000px;
  padding-left: 20px;
}
.slide-data ul li {
 border-bottom:2px solid #CCCCCC;
 list-style-type: none;
 line-height: 100px;
 font-size: 32px;
}
.slide-data img {
  float:right;
  display: inline-block;
  padding: 30px;
}
#apache ul li:last-child{
  font-size: 32px;
}

#ops div{
  margin: 0 auto;
}
#ops ul li {
 border-top:2px solid #CCCCCC;
 border-bottom:1px solid #CCCCCC;
 list-style-type: none;
 line-height: 250px;
 font-size: 48px;
}

#ore {
  position: relative;
}
#ore div {
 font-size: 200px;
 top: 300px;
 left: 40px; 
 position: absolute;
 margin: 0 auto;
}




#sns {
    width:1200px;
    height: 700px;
    margin: 0 auto;
    color: #666666;
}

#sns > h2 {
  text-align: center;
  font-size: 40px;
  color: #666666;
  margin-bottom:20px;
}
#sns img {
float:right;
}
#sns > ul {
width: 700px;
margin-top: 50px;
}
#sns > ul > li {
 border-bottom:2px solid #CCCCCC;
 list-style-type: none;
 line-height: 111px;
 font-size: 34px;
}
#sns > ul > li > span {
  font-size: 24px;
